* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* chat popup */

ul.msg-balloon {
    list-style-type: none;
}

.avatar {
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

#chat-btn {
    position: fixed;
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.chat-popup {
    display: none;
    /* display: flex; */
    position: fixed;
    bottom: 90px;
    right: 90px;
    width: 300px;
    height: 430px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.chat-popup.card {
    border-radius: 25px;
}

.chat-popup.card .card-header {
    border-radius: 25px 25px 0 0;
}

.chat-popup.card .card-footer {
    border-radius: 0 0 25px 25px;
}

.show {
    display: flex;
}

#chat-area {
    overflow-y: auto;
    overflow-x: hidden;
}

#chat-area::-webkit-scrollbar {
    width: 5px;
}

#chat-area::-webkit-scrollbar-thumb {
    background: #666;
}

#chat-area .msg {
    animation: animateElement linear 0.2s;
	animation-iteration-count: 1;
    border-radius: 25px;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
}

#input-area input[type=text] {
    border-radius: 25px;
}

#input-area .btn {
    border-radius: 25px;
}

#chat-area .msg img {
    max-width: 180px;
    max-height: 200px;
    border-radius: 20px;
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0px, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

/* Content */

.jumbotron {
    background-color: #E02E30;
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 190px;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 60px;
    
}

.jumbotron p {
    line-height: 80px;
    letter-spacing: 3px;
}

@media (max-width: 992px) {
    .chat-popup {
        bottom: 90px;
        right: 5%;
        max-width: 90%;
        max-height: 70%;
    }

    /* #chat-area .msg {
        font-size: 1rem;
    } */

    #chat-btn {
        right: 15px;
        bottom: 15px;
        font-size: 1rem;
    }

    .avatar {
        max-width: 35px;
        max-height: 35px;
    }

    .jumbotron {
        background-position: left;
        height: 500px;
        padding-top: 150px;
    }

    .jumbotron h1 {
        font-size: 50px;
        line-height: 40px;
        
    }
    
    .jumbotron p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 2px;
    }
}